<div class="card-body bg-dark bg-dark-perfil">
  <br *ngIf="!isAddMode">
    <h3 *ngIf="isAddMode" class="card-header font-container-right-forgot">Criar Usuário</h3>
    <h3 *ngIf="!isAddMode" class="card-header font-container-right-forgot">Editar Usuário</h3>
  <div class="card-update-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
          <div class="form-group col">
              <label class="card-font">Título</label>
              <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                  <option value=""></option>
                  <option value="Mr">Sr</option>
                  <option value="Mrs">Srs</option>
                  <option value="Miss">Sras</option>
                  <option value="Ms">Sra</option>
              </select>
              <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors.required"><b>Título é obrigatório!</b></div>
              </div>
          </div>
          <div class="form-group col-5">
              <label class="card-font">Nome</label>
              <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required"><b>Nome é obrigatório!</b></div>
              </div>
          </div>
          <div class="form-group col-5">
              <label class="card-font">Sobrenome</label>
              <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required"><b>Sobrenome é obrigatório!</b></div>
              </div>
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-7">
              <label class="card-font">Email</label>
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required"><b>Email  é obrigatório!</b></div>
                  <div *ngIf="f.email.errors.email"><b>Email deve ser um endereço de e-mail válido!</b></div>
              </div>
          </div>
          <div class="form-group col">
              <label class="card-font">Acesso</label>
              <select formControlName="role" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                  <option value=""></option>
                  <option value="User">User</option>
                  <option value="Admin">Admin</option>
              </select>
              <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                  <div *ngIf="f.role.errors.required"><b>Acesso é obrigatório!</b></div>
              </div>
          </div>
      </div>
      <div *ngIf="!isAddMode">
          <h3 class="card-header">Alterar Senha</h3>
          <p class="card-font">Deixe em branco para manter a mesma senha</p>
      </div>
      <div class="form-row">
          <div class="form-group col">
              <label class="card-font">Senha</label>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required"><b>Senha  é obrigatório!</b></div>
                  <div *ngIf="f.password.errors.minlength"><b>A senha deve ter pelo menos 6 caracteres</b></div>
              </div>
          </div>
          <div class="form-group col">
              <label class="card-font">Confirmar Senha</label>
              <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required"><b>Confirmar Senha  é obrigatório!</b></div>
                  <div *ngIf="f.confirmPassword.errors.mustMatch"><b>As senhas devem corresponder</b></div>
              </div>
          </div>
      </div>
      <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Salvar
          </button>
          <a routerLink="/admin/accounts" class="btn btn-link">
            <button [disabled]="loading" class="btn btn-primary">
              Cancelar
            </button>
          </a>
      </div>
  </form>
  </div>
</div>
