<div class="card-body bg-dark bg-dark-perfil">
  <br *ngIf="!isAddMode">
    <h3 *ngIf="isAddMode" class="card-header font-container-right-forgot">Inserir Ação</h3>
    <h3 *ngIf="!isAddMode" class="card-header font-container-right-forgot">Editar Ação</h3>
  <div class="card-stock-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-2">
        <label class="card-font">Código</label>
        <input type="text" [textMask]="{mask: codeMask}" formControlName="stockCode" class="form-control uppercase" [ngClass]="{ 'is-invalid': submitted && f.stockCode.errors }" />
        <div *ngIf="submitted && f.stockCode.errors" class="invalid-feedback">
          <div *ngIf="f.stockCode.errors.required"><b>Código é obrigatório!</b></div>
        </div>
      </div>
      <div class="form-group col-5">
        <label class="card-font">Nome da empresa</label>
        <input type="text" formControlName="shortName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.shortName.errors }" />
        <div *ngIf="submitted && f.shortName.errors" class="invalid-feedback">
          <div *ngIf="f.shortName.errors.required"><b>Nome da empresa é obrigatório!</b></div>
        </div>
      </div>
      <div class="form-group col-2">
        <label class="card-font">Quantidade</label>
        <input type="number" step="1" formControlName="qtd" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.qtd.errors }" />
        <div *ngIf="submitted && f.qtd.errors" class="invalid-feedback">
          <div *ngIf="f.qtd.errors.required"><b>QUantidade é obrigatório!</b></div>
        </div>
      </div>
      <div class="form-group col-2">
        <label class="card-font">Valor</label>
        <input type="text" currencyMask [options]="options" formControlName="currentPrice" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.currentPrice.errors }" />
        <div *ngIf="submitted && f.currentPrice.errors" class="invalid-feedback">
          <div *ngIf="f.currentPrice.errors.required"><b>Valor é obrigatório!</b></div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-3">
        <label class="card-font">Valor de compra</label>
        <input type="text" currencyMask [options]="options"  formControlName="vlBuy" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.vlBuy.errors }" />
        <div *ngIf="submitted && f.vlBuy.errors" class="invalid-feedback">
          <div *ngIf="f.vlBuy.errors.required"><b>Valor de compra é obrigatório!</b></div>
        </div>
      </div>
      <div class="form-group col-2">
        <label class="card-font">Valor Total</label>
        <input type="text" currencyMask [options]="options" id="vlTotal" formControlName="vlTotal" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.vlTotal.errors }" />
        <div *ngIf="submitted && f.vlTotal.errors" class="invalid-feedback">
          <div *ngIf="f.vlTotal.errors.required"><b>Valor Total é obrigatório!</b></div>
        </div>
      </div>


      <div class="form-group col-2">
        <label class="card-font">Ordem</label>
        <input type="number" id="order" formControlName="order" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.order.errors }" />
        <div *ngIf="submitted && f.order.errors" class="invalid-feedback">
          <div *ngIf="f.order.errors.required"><b>Ordem é obrigatório!</b></div>
        </div>
      </div>
      <div class="form-group col-4">
        <label class="card-font">Código ADVFN</label>
        <input type="text" id="advfnCode" formControlName="advfnCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.advfnCode.errors }" />
        <div *ngIf="submitted && f.advfnCode.errors" class="invalid-feedback">
          <div *ngIf="f.advfnCode.errors.required"><b>Código ADVFN é obrigatório!</b></div>
        </div>
      </div>


      <div class="form-group col-5">
        <label class="card-font">Data de Compra</label>
        <input type="date" formControlName="dtBuy" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dtBuy.errors }" />
        <div *ngIf="submitted && f.dtBuy.errors" class="invalid-feedback">
          <div *ngIf="f.dtBuy.errors.required"><b>Data de Compra é obrigatório!</b></div>
        </div>
      </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Salvar
        </button>
        <a routerLink="/stock" class="btn btn-link">
          <button [disabled]="loading" class="btn btn-primary">
            Cancelar
          </button>
        </a>
    </div>
  </form>
  </div>
</div>
