// global styles
//a { cursor: pointer; }

.container {
  height: 100vh;
  width: 100vw;
}

table-width {
  width: 100%;
}

.bg-dark-login {
  //margin-top: 0px;
  min-height: 569px;
  min-width: 100%;
  //background-color: #1e2025;
}

.bg-dark-perfil {
  //margin-top: -25px;
  //margin-left: -130px;
  //margin-bottom: 0%;
  min-width: 100%;
  min-height: 569px;
}

.bg-opa {
  opacity: 0.8;
}

.bg-opa-nav {
  opacity: 0.5;
  background-color: #1e2025
}

.font-container {
  margin-left: 90px;
  //margin-top: 30px;
  color: #a8acaf;
  opacity: 0.9;
}

.font-container-right-forgot {
  margin-left: 350px;
}

.font-container-left {
  margin-left: 5px;
  //margin-top: 30px;
  color: #a8acaf;
  opacity: 0.9;
}

.font-nav {
  color: #181a1a;
  opacity: 1;
}

.app-container {
  min-height: 625px;
  min-width: 100%;
  background-color: #1e2025;
}

.card-login-header {
  margin-top:70px;
  color: #dee3e8;
  width: 300px;
  background-position: center;
  background-size:cover;
  text-align: center;
  opacity: 0.9;
  //position: absolute;
}

.card-header {
  //margin-top:70px;
  color: #dee3e8;
  //width: 300px;
  //background-position: center;
  //background-size:cover;
  //text-align: center;
  opacity: 0.9;
  //position: absolute;
}

.card-header-forgot {
  margin-left: 110px;
  color: #dee3e8;
  text-align: left;
  opacity: 0.9;
}

.card-font {
  color: #dee3e8;
  opacity: 0.9;
}

.card-font-users {
  color: #dee3e8;
  opacity: 0.9;
  margin-left: 350px;
  align-content: center;
}

.stock-font-title {
  color: #dee3e8;
  opacity: 0.9;
  margin-left: 350px;
  text-align: left;
  font-size: medium;
}

.align-center {
  text-align: center;
}

.stock-font-marketChange {
  font-size: larger;
  text-align: right;
}

.margin-350 {
  color: #dee3e8;
  opacity: 0.9;
  margin-left: 350px;
}

.margin-200 {
  color: #dee3e8;
  opacity: 0.9;
  margin-left: 250px;
}

.stock-list-margin {
  color: #dee3e8;
  opacity: 0.9;
  margin-left: 300px;
  width: 500px;
}

.card-update-body {
  color: #dee3e8;
  margin-left:400px;
  width: 450px;
  background-position: center;
  background-size:cover;
  opacity: 0.9;
  position: absolute;
  z-index: 1;
}

.card-stock-body {
  color: #dee3e8;
  margin-left:400px;
  width: 650px;
  background-position: center;
  background-size:cover;
  opacity: 0.9;
  position: absolute;
  z-index: 1;
}

.card-login-body {
  color: #dee3e8;
  margin-left:130px;
  width: 400px;
  background-position: center;
  background-size:cover;
  opacity: 0.9;
  position: absolute;
  z-index: 1;
}

.card-alert-component {
  color: #dee3e8;
  margin-left:430px;
  width: 420px;
  background-position: center;
  background-size:cover;
  opacity: 0.9;
  position: absolute;
  z-index: 1;
}

.admin-nav {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #e8e9ea;
  border-bottom: 1px solid #ccc;
}

.btn-delete-account {
  width: 40px;
  text-align: center;
  box-sizing: content-box;
}

.btn-primary {
  color: #dee3e8;
  background-color:#0a0a23;
  opacity: 0.8;
}

.stock-insert-btn {
  color: #dee3e8;
  background-color:#0a0a23;
  opacity: 0.8;
  margin-left: 50px;
}

#record {
  width: 100%;
  height: 20%;
  position: relative;
  overflow: hidden;
  /* Center text */
  //text-align: center;
  //-webkit-align-items: center;
  //-ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
}

#record::before {
  background: url("logo.svg")
  no-repeat center center;
  background-size: 75% 75%;
  content: "";
  width: 100vw;
  height: 80vw;
  position: absolute;
  animation: spin 120s linear infinite;
  opacity: 0.5;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.uppercase {
  text-transform: uppercase;
}
