// global styles
a { cursor: pointer; }

.app-container {
  min-height: 620px;
  background-image: url("logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #282c34;
}

.card-login-header {
  margin-top:70px;
  color: #dee3e8;
  width: 300px;
  position: relative;
  background-position: center;
  background-size:cover;
  text-align: center;
  opacity: 0.9;
  //position: absolute;
}

.card-login-body {
  color: #dee3e8;
  margin-left:130px;
  width: 400px;
  background-position: center;
  background-size:cover;
  opacity: 0.9;
  position: absolute;
  z-index: 1;
}

.admin-nav {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #e8e9ea;
  border-bottom: 1px solid #ccc;
}

.btn-delete-account {
  width: 40px;
  text-align: center;
  box-sizing: content-box;
}

.btn-primary {
  color: #dee3e8;
  background-color:#0a0a23;
  opacity: 0.8;
}

.btn-secundary {
  color: #dee3e8;
  background-color:#0a0a23;
  opacity: 0.8;
}

