<br>
<h3 class="card-header-forgot">Esqueceu a senha</h3>
<br>
<div class="card-login-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-8">
            <label class="card-font">Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email é obrigatório!</div>
                <div *ngIf="f.email.errors.email">Email é inválido!</div>
            </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submeter
            </button>
          <a routerLink="../login" href="" class="btn btn-link">
            <button [disabled]="loading" class="btn btn-primary">
              Cancelar
            </button>
          </a>
        </div>
      </div>
    </form>
</div>
