<h3 class="card-header">Cadastro de usuários</h3>
<div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-3">
                <label class="card-font">Nome</label>
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">Nome é obrigatório!</div>
                </div>
            </div>
            <div class="form-group col-5">
                <label class="card-font">Sobrenome</label>
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Sobrenome é obrigatório!</div>
                </div>
            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-8">
              <label class="card-font">Email</label>
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email é obrigatório!</div>
                  <div *ngIf="f.email.errors.email">Email deve ser um endereço de e-mail válido!</div>
              </div>
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-4">
                <label class="card-font">Senha</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Senha é obrigatória!</div>
                    <div *ngIf="f.password.errors.minlength">A senha deve ter pelo menos 6 caracteres</div>
                </div>
            </div>
            <div class="form-group col-4">
                <label class="card-font">Confirmar Senha</label>
                <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirmar Senha é obrigatório!</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">As senhas devem corresponder</div>
                </div>
            </div>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
            <label for="acceptTerms" class="card-font">Aceitar Termos e Condições</label>
            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Aceitar Termos e Condições  é obrigatório!</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Registrar
            </button>
            <a routerLink="../login" href="" class="btn btn-link">
              <button [disabled]="loading" class="btn btn-primary">
                Cancelar
              </button>
            </a>
        </div>
    </form>
</div>
