<h3 class="card-header">Reset Senha</h3>
<div class="card-body">
    <div *ngIf="tokenStatus == TokenStatus.Validating">
        Validando token...
    </div>
    <div *ngIf="tokenStatus == TokenStatus.Invalid">
        Token validação falhou, se o token expirou, você pode obter um novo em <a routerLink="../forgot-password">Esqueceu a senha</a> page.
    </div>
    <form *ngIf="tokenStatus == TokenStatus.Valid" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Senha</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Senha é obrigatório</div>
                <div *ngIf="f.password.errors.minlength">A senha deve ter pelo menos 6 caracteres</div>
            </div>
        </div>
        <div class="form-group">
            <label>Confirmar Senha</label>
            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirmar Senha é obrigatório</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">As senhas devem corresponder</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Reset Senha
            </button>
            <a routerLink="../login" class="btn btn-link">Cancelar</a>
        </div>
    </form>
</div>